<p id="notice"><%= notice %></p>

<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "text answers", :lk => response_domain_texts_path}  %>

<h1>Text Answer</h1>
<p>
  <b>Id:</b>
  <%= @response_domain_text.id %>
</p>

<p>
  <b>Description:</b>
  <%= @response_domain_text.label %>
</p>

<p>
  <b>Maximum Length:</b>
  <%= @response_domain_text.maxlen %>
</p>

<p>
  <b>All Answer Id:</b>
  <%= @response_domain_text.response_domain_all.id %>
  <label class="instruction">This is the Id required when creating/editing question items</label>
</p>

<h2>Used in the following question items:</h2>
<%= render :partial => "shared/question_items", :locals => {:rd_all => @response_domain_text.response_domain_all} %>

<h2>Used in the following question grids:</h2>
<%= render :partial => "shared/question_grids", :locals => {:rd_all => @response_domain_text.response_domain_all} %>

<br />

<%= link_to 'Edit', edit_response_domain_text_path(@response_domain_text) %> |
<%= link_to 'Back', response_domain_texts_path %>
