<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "question grids", :lk => question_grids_path}  %>

<h1>Edit Question Grid</h1>

<p>
  <b>Id:</b>
  <%= @question_grid.id %>
</p>

<%= render 'form' %>

<%= link_to 'Show', @question_grid %> |
<%= link_to 'Back', question_grids_path %>
