<h1>Listing question_grids</h1>

<table>
  <tr>
    <th>Textid</th>
    <th>Literal</th>
    <th>Intent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_grids.each do |question_grid| %>
  <tr>
    <td><%= question_grid.textid %></td>
    <td><%= question_grid.literal %></td>
    <td><%= question_grid.intent %></td>
    <td><%= link_to 'Show', question_grid %></td>
    <td><%= link_to 'Edit', edit_question_grid_path(question_grid) %></td>
    <td><%= link_to 'Destroy', question_grid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question grid', new_question_grid_path %>
