<p id="notice"><%= notice %></p>

<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "question grids", :lk => question_grids_path}  %>

<h1>Question Grid</h1>


<p>
  <b>Id:</b>
  <%= @question_grid.id %>
</p>
<p>
  <b>Name:</b>
  <%= @question_grid.textid %>
</p>

<p>
  <b>Question header text:</b>
  <p>
  <%= text_area_tag "literal", @question_grid.literal, {:size => "100x4", :readonly => true} %>
  </p>
</p>

<p>
  <b>Intent:</b>
  <%= @question_grid.intent %>
</p>


<%= link_to 'Edit', edit_question_grid_path(@question_grid) %> |
<%= link_to 'Back', question_grids_path %>
