<p id="notice"><%= notice %></p>

<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "question grids", :lk => question_grids_path}  %>

<h1>Question Grid</h1>


<p>
  <b>Id:</b>
  <%= @question_grid.id %>
</p>
<p>
  <b>Name:</b>
  <%= @question_grid.textid %>
</p>

<% if @question_grid.instruction.present? %>
<p>
  <b>Interviewer instruction:</b>
</p>
<p>
  <%= text_area_tag "instruction", @question_grid.instruction.instruction_text, {:size => "100x2", :readonly => true} %>
</p>
<% end %>

<p>
  <b>Question header text:</b>
  <p>
  <%= text_area_tag "literal", @question_grid.literal, {:size => "100x4", :readonly => true} %>
  </p>
</p>

<p>
  <b>Intent:</b>
  <%= @question_grid.intent %>
</p>

<h2>Grid frame</h2>

<p>
  <b>Top corner label:</b>
  <%= @question_grid.corner_label %>
</p>

<p>
  <b>Horizontal headers:</b>
  <%= @question_grid.horizontal_codelist.label unless @question_grid.horizontal_codelist.nil? %>
</p>

<p>
  <b>Vertical headers:</b>
  <%= @question_grid.vertical_codelist.label unless @question_grid.vertical_codelist.nil? %>
</p>

<p>
  <b>Editable vertical header rows:</b>
  <%= @question_grid.vertical_roster_rows %>
</p>

<p>
  <b>Editable vertical header label:</b>
  <%= @question_grid.vertical_roster_label %>
</p>

<p>
<%= render 'table' %>
</p>

<%= link_to 'Edit', edit_question_grid_path(@question_grid) %> |
<%= link_to 'Back', question_grids_path %>
