<% content_for :head do %>
  <%= javascript_include_tag 'cc_questions' %>
<% end %>

<%= form_for(@cc_question) do |f| %>
  <% if @cc_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cc_question.errors.count, "error") %> prohibited this cc_question from being saved:</h2>

      <ul>
      <% @cc_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :textid, 'Name' %><br />
    <%= f.text_field :textid %>
  </div>
  <div class="field">
    <%= f.label :response_unit, 'Interviewee' %><br />
    <!--%= f.text_field :response_unit, :size => 120 %-->
    <%= f.collection_select :response_unit_id, ResponseUnit.find(:all), :id, :text, {:include_blank => 'select an interviewee...'} %>
  </div>


  <div class="field">
    <%= f.label :question_reference, 'Question Reference' %><br />
    <table class="qref">
      <tr>
        <td><%= f.radio_button :question_reference_type, 'QuestionItem' %></td>
        <td>Question Item</td>
        <!--td><%#= f.collection_select :question_reference_id, QuestionItem.find(:all), :id, :id_plus, {:include_blank => 'select a question item...'} %></td-->
        <td><%= raw h(select_tag :qitem_id, options_from_collection_for_select(QuestionItem.find(:all), :id, :id_plus), {:include_blank => 'select a question item...'}).gsub(/~/,"&nbsp;") %></td>
      </tr>
      <tr>
        <td><%= f.radio_button :question_reference_type, 'QuestionGrid' %></td>
        <td>Question Grid</td>
        <td><%= raw h(select_tag :qgrid_id, options_from_collection_for_select(QuestionGrid.find(:all), :id, :id_plus), {:include_blank => 'select a question grid...'}).gsub(/~/,"&nbsp;") %></td>
      </tr>
    </table>
    <%= f.hidden_field :question_reference_id %>
  </div>


  <div class="field">
    <%= f.label :universes %><br />
    <%= f.collection_select :universe_ids, Universe.find(:all), :id, :id_plus, {:include_blank => 'select all relevant universes...'}, {:multiple => :true} %>
  </div>

  <div class="field">
    <%= f.label :parent_construct, 'Parent Component' %><br />
    <%= f.fields_for :cc_all do |cc_all_fields| %>
      <%= render :partial => "shared/spine_position_edit", :locals => {:f => cc_all_fields, :iparent => @cc_question.cc_all.initial_parent, :ib => @cc_question.cc_all.ifbranch} %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
