<%= render "shared/breadcrumb_list" %>

<h1>Question Components</h1>

<%= link_to 'New Question Component', new_cc_question_path %>

<p>
<table class="stripy">
  <tr>
    <th rowspan=2>Id</th>
    <th rowspan=2>Name</th>
    <th rowspan=2>Question Type Id</th>
    <th colspan=2>Question Library</th>
    <th rowspan=2>Interviewee</th>
    <th rowspan=2></th>
    <th rowspan=2></th>
  </tr>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @cc_questions.each do |cc_question| %>
  <tr class="<%= cycle('odd', 'even') -%>">
    <td><%= cc_question.id %></td>
    <td><%= cc_question.textid %></td>
    <td><%= cc_question.question_reference_type %></td>
    <td><%= cc_question.question_reference_id %></td>
    <td><%= cc_question.question_reference.textid %></td>
    <td><%= cc_question.response_unit.text %></td>
    <td><%= link_to 'Show', cc_question %></td>
    <td><%= link_to 'Edit', edit_cc_question_path(cc_question) %></td>
    <!--td><%#= link_to 'Destroy', cc_question, :confirm => 'Are you sure?', :method => :delete %></td-->
  </tr>
<% end %>
</table>
</p>

