<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "question grids", :lk => question_grids_path}  %>

<h1>Edit Column</h1>

<p>
  <b>Question Grid Id:</b>
  <%= @qgrid_rda.question_grid_id %>
</p>

<p>
  <b>Question Grid Name:</b>
  <%= @qgrid_rda.question_grid.textid %>
</p>

<p>
  <b>Column id:</b>
  <%= @qgrid_rda.id %>
</p>
<%= render 'form' %>

<%= link_to 'Show', @qgrid_rda.question_grid %> |
<%= link_to 'Back', question_grids_path %>
