<% content_for :head do %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
<% end %>

<script>
 $(function(){
 $(".chosen-select").chosen({width: "600px", allow_single_deselect: true});
 });
 </script>

<%= form_for(@question_item) do |f| %>
  <% if @question_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_item.errors.count, "error") %> prohibited this question_item from being saved:</h2>
      <ul>
      <% @question_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
	  <pre><%#= @question_item.to_yaml %></pre>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :textid, 'Name' %><br />
    <%= f.text_field :textid, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :instructions, 'Instructions (optional)' %><br />
      <%= raw h(f.collection_select :instruction_id, Instruction.find(:all), :id, :short_text_with_id, {:include_blank => 'select interviewer instructions...'}).gsub(/~/,"&nbsp;") %>
  </div>

  <div class="field">
    <%= f.label :literal, 'Question text' %><br />
    <%= f.text_area :literal, :cols => 100, :rows => 4 %>
  </div>

  <div class="field">
    <%= f.label :intent %><br />
    <%= f.text_field :intent, :size => 120  %>
  </div>

  <div class="field">
    <%= f.label :response_domain_all, 'Answers' %><br />
    <%= raw h(f.collection_select :response_domain_all_ids, ResponseDomainAll.all, :id, :id_plus3, {}, {:style => 'visibility: visible', :class => 'chosen-select', :multiple => 'true', "data-placeholder" => "Select answer options..."}).gsub(/~/,"&nbsp;") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
