    <!--li>Response Domain Numeric</li>
    <ul-->
      <li><b>Id: </b><%= response_domain_all.domain.id %></li>
      <li><b>Description: </b><%= response_domain_all.domain.label %></li>
      <li><b>Numeric type: </b><%= response_domain_all.domain.numeric_type.label if response_domain_all.domain.numeric_type %></li>
      <li><b>Min: </b><%= response_domain_all.domain.min %></li>
      <li><b>Max: </b><%= response_domain_all.domain.max %></li>
    <!--/ul-->
