<%= form_for(@universe) do |f| %>
  <% if @universe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@universe.errors.count, "error") %> prohibited this universe from being saved:</h2>

      <ul>
      <% @universe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :univ_text, 'Description' %><br />
    <%= f.text_field :univ_text, :size => 120, :autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
