<%= render :partial => "shared/breadcrumb_single", :locals => {:linktxt => "code lists", :lk => code_schemes_path}  %>

<h1>Edit Code List</h1>
<label class="instruction">Nb: Editing a code list will also clear the answer columns of any question grid using it for their horizontal header.</label>

<p>
  <b>Id:</b>
  <%= @code_scheme.id %>
</p>

<%= render 'form' %>

<%= link_to 'Show', @code_scheme %> |
<%= link_to 'Back', code_schemes_path %>
