<% content_for :head do %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom' %>
  <%#= javascript_include_tag 'jquery-1.6.2.min' %>
  <%= javascript_include_tag 'lib/jquery' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
<% end %>

<style>
    #sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; }
    #sortable1 li, #sortable2 li { font-size: .8em;  width: 400px;}
    #stubtable th {margin-left: 10px; width: 400px;}
</style>
<script>
$(function() {
	$( "#sortable1, #sortable2" ).sortable({
		connectWith: ".connectedSortable"
	}).disableSelection();
});
</script>


<h1>New Code Scheme</h1>

<%= render 'form' %>

<p>
<div class="demo">

<table id="stubtable">
  <tr>
    <th>Available Categories</th>
    <th>Selected Categories</th>
    <th>Code</th>
  </tr>
</table>

<ul id="sortable1" class="connectedSortable">
<% @categories_to_select_from.each do |cat| %>
    <li class="ui-state-default"><%= cat.label %></li>
<% end %>
</ul>

<ul id="sortable2" class="connectedSortable">
	<!--li class="ui-state-highlight">Drop here</li-->
</ul>

</div><!-- End demo -->
</p>
<br/>



<%= link_to 'Back', code_schemes_path %>
